<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<!-- 설정 -->
	<settings>
		<setting name="cacheEnabled" value="true" />
	</settings>

	<!-- 별명 -->
	<typeAliases>
		<typeAlias alias="Member" type="com.ds201604.pension.vo.Member" />
		<typeAlias alias="Admin" type="com.ds201604.pension.vo.Admin" />
		<typeAlias alias="Pension" type="com.ds201604.pension.vo.Pension" />
		<typeAlias alias="Room" type="com.ds201604.pension.vo.Room" />
	</typeAliases>
</configuration> 